<h1>Listing All the ARticles</h1>
<p></p><%= link_to "Create New Article", new_article_path  %></p>
<table  border='1'>
  <tr>
    <th>Title</th>
    <th>Description</th>
    </tr>
    
      <% @artilce_all.each do |myarticle| %>
        <tr>
    <td> <%=myarticle.title  %>  </td>
    <td> <%=myarticle.desc  %>  </td>
    <td> <%= link_to "EDIT", edit_article_path(myarticle)      %>    </td>
    <td> <%= link_to "Show", article_path(myarticle)%></td>
  </tr>
  

      <% end %>
    
</table>